<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stegonography">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cryptofun.C_Encription_result">

        </activity>
        <activity android:name=".cryptofun.C_Decription_page_one" />
        <activity android:name=".cryptofun.C_Decription_result" />
        <activity android:name=".cryptofun.C_Encription_page_one" />
        <activity android:name=".sidemenubar.Cryptomenu_Activity" />
        <activity android:name=".Deference" />
        <activity android:name=".stegofun.Decreption_Result" />
        <activity android:name=".stegofun.Decreption_page_one" />
        <activity android:name=".stegofun.Encryption_Result" />
        <activity android:name=".stegofun.Encryption_page_one" />
        <activity android:name=".sidemenubar.Stego_menu" />
        <activity android:name=".mainappdrawer.Appdrawer" />
        <activity android:name=".sidemenubar.Faq" />
        <activity android:name=".sidemenubar.Info" />
        <activity android:name=".splash.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>